.idea/
.idea/workspace.xml
.biblioteka/settings.py
.biblioteka/__pycache__/
\biblioteka\settings.py

.idea\
.idea\workspace.xml
.biblioteka\settings.py
.biblioteka\__pycache__\
/biblioteka/settings.py