body {
    padding-top: 50px;
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 13px;
    line-height: 24px;
}

body > .container {
    position: relative;
    top: -180px;
}

.instance > img {
    display: block;
    margin: 0 auto 20px auto;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

a:hover, a:focus {
    color: #CC8200;
}

.btn {
    color: #CC8200;
    font-size: 13px;
}

nav {
    background: #FFF;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.navbar-brand {
    padding: 0px;
}

.navbar-inverse {
    background-color: #fff;
    color: #666;
    border: none;
}

.navbar-nav {
    float: right;
}

.navbar-inverse .navbar-nav>li>a {
    color: #666;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.buttons {
    position: relative;
    top: -300px;
    z-index: 1;
    color: #fff;
}

.buttons .row {
    margin: 0 auto;
    padding: 15px;
    width: 50%;
    text-align: center;
}

.przycisk {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px;
    padding: 0 0 7px;
    position: relative;
    font-size: 30px;
    color: #333;
}

h2::after {
    content: "";
    background: #CC8200 none repeat scroll 0 0;
    width: 150px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
}

.post {
    background-color: #fff;
    height: 420px;
    margin-bottom: 25px;
}

h3 {
    font-size: 16px;
}

h3 a {
    color: #333;
}

.post .text {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.post h3 {
    margin-top: 0;
}

.date {
    margin-top: -14px;
    text-align: center;
    background: #fff;
    width: 82%;
    display: block;
    position: relative;
    margin-left: 30px;
    padding: 3px 0 3px 0;
    color: #666;
}

.date2 {
    text-align: center;
    display: block;
    padding-top: 10px;
    color: #666;
}

.instance {
    background: #fff;
    top: 180px;
    padding-bottom: 30px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #CC8200;
}

footer {
    background: #333;
    height: 300px;
}