body {
    margin-top: 60px;
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 13px;
    line-height: 24px;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

.instance > img {
    display: block;
    margin: 0 auto 20px auto;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

a:hover, a:focus {
    color: #CC8200;
}

.btn {
    color: #CC8200;
    font-size: 13px;
}

#nav-top {
    background: #333333;
    height: 40px;
    transition: all 0.2s linear;
}

#nav-top.test {
    opacity: 0;
    height: 0px;
}

#nav-top img {
    height: 40px;
    padding: 6px;
    float: right;
    position: absolute;
    right: 0px;
    top: 0;
    transition: all 0.2s linear;
}

#nav-top img:nth-child(2) {
    right: 32px;
}

#nav-top .container {
    position: relative;
}

#nav-top.test img {
    top: -40px;
    transition: all 0.2s linear;
}

nav {
    background: #FFF;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.navbar-brand {
    padding: 0px;
}

.navbar-inverse {
    background-color: #fff;
    color: #666;
    border: none;
}

.navbar-nav {
    float: right;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .navbar-brand img {
    height: 60px;
    padding: 9px;
}

.buttons {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 10px;
}

.buttons .row {
    margin: 0 auto;
    padding: 15px;
    width: 50%;
    text-align: center;
}

.przycisk {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px;
    padding: 0 0 7px;
    position: relative;
    font-size: 24px;
    color: #333;
}

h2::after {
    content: "";
    background: #CC8200 none repeat scroll 0 0;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}

.post {
    height: 400px;
    margin-bottom: 25px;
    color: #fff;
}

.post h3 a {
    color: #fff;
}

li:first-child .post {
    background-color: #313131;
}

li:nth-child(2) .post{
    background-color: #4D4D4D;
}

li:nth-child(3) .post{
    background-color: #F17E01;
}

li:nth-child(4) .post{
    background-color: #676767;
}

#aktualnosci {
    margin-top: 25px;
}
.biblioteka, #galeria, #wsparcie {
    background-color: #fff;
    padding: 25px;
}

#wsparcie {
    margin: 25px 0;
}

#wsparcie img {
    max-height: 80px;
}

.biblioteka img {
    padding-right: 25px;
}

h3 {
    font-size: 16px;
}

h3 a {
    color: #333;
}

.post .text {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.post h3 {
    margin-top: 0;
}

#aktualnosci li {
    padding: 0;
}

.date {
    margin-top: -14px;
    text-align: center;
    background: #000;
    width: 82%;
    display: block;
    position: relative;
    margin-left: 30px;
    padding: 3px 0 3px 0;
    color: #fff;
}

.date2 {
    text-align: center;
    display: block;
    padding-top: 5px;
    color: #666;
}

.instance {
    background: #fff;
    padding: 25px;
}

.instance h2 {
    margin: 20px 0 0 0;
}

.instance .row p {
    padding: 0 25px 0 25px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #fff;
    color: #CC8200;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
}

.thumbnail {
    display: inline-block;
}

.tag {
    padding: 5px;
    color: #fff;
    background: #000;
}

footer {
    background: #333;
    padding-bottom: 25px;
}