html, body {
    height: 100%;
}

body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    color: #5b5b5b;
    font-size: 14px;
    line-height: 24px;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

.instance > img {
    display: block;
    margin: 0 auto 20px auto;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

a:hover, a:focus {
    color: #F17E01;
}

.link {
    color: #fff;
    font-weight: bold;
}

.link:hover {
    color: #F17E01;
}

#nav-top {
    background: #333;
    height: 40px;
    transition: all 0.2s linear;
}

#nav-top.test {
    opacity: 0;
    height: 0;
}

#nav-top > div > a, #contrast {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s linear;
}

#contrast {
    cursor: pointer;
}

#nav-top a > img, #nav-top a > svg, #contrast svg {
    display: block;
    height: 40px;
    padding: 6px;
}

#nav-top > div > a:last-of-type {
    right: 84px;
}

#nav-top > div > a:nth-last-of-type(2) {
    right: 40px;
}

#nav-top > div > div:nth-of-type(2) {
    left: 160px;
}

@media (max-width:767px) {
    #nav-top > div > div:nth-of-type(2) {
        display: none;
    }
}

#nav-top .container {
    position: relative;
}

#nav-top.test a, #nav-top.test #contrast, #nav-top.test .contact {
    top: -40px;
    transition: all 0.2s linear;
}

#nav-top .contact {
    display: inline-flex;
    height: 40px;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 0;
    transition: all 0.2s linear;
}

#nav-top .contact a {
    margin-left: 5px;
    color: #F17E01;
}

nav {
    background: #FFF;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.navbar-brand {
    padding: 0;
}

.navbar-inverse {
    background-color: #fff;
    color: #666;
    border: none;
}

.navbar-nav {
    float: right;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .navbar-brand img {
    height: 58px;
    padding: 9px;
}

header {
    margin-top: 61px;
}

.buttons {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 10px;
}

.buttons .row {
    margin: 0 auto;
    padding: 15px;
    width: 50%;
    text-align: center;
}

.przycisk {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}

figure {
    text-align: center;
    margin-bottom: 25px;
}

figure img {
    height: 160px;
}

figcaption {
    font-size: 22px;
    margin-top: 10px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px;
    padding: 0 0 7px;
    position: relative;
    font-size: 24px;
    color: #333;
}

h2::after {
    content: "";
    background: #F17E01 none repeat scroll 0 0;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}

a {
    color: #333;
}

.post {
    height: 410px;
    margin-bottom: 25px;
    color: #fff;
    overflow: hidden;
}

.post h3 a {
    color: #fff;
    font-weight: bold;
}

li:first-child .post {
    background-color: #333;
}

li:nth-child(2) .post {
    background-color: #4D4D4D;
}

li:nth-child(3) .post {
    background-color: #E47701;
}

li:nth-child(4) .post {
    background-color: #676767;
}

li:nth-child(5) .post {
    background-color: #676767;
}

li:nth-child(6) .post {
    background-color: #E47701;
}

li:nth-child(7) .post {
    background-color: #4D4D4D;
}

li:nth-child(8) .post {
    background-color: #333;
}

li:nth-child(9) .post {
    background-color: #4D4D4D;
}

li:nth-child(10) .post {
    background-color: #333;
}

li:nth-child(11) .post {
    background-color: #676767;
}

li:nth-child(12) .post {
    background-color: #E47701;
}

li .post {
    background-color: #4D4D4D;
}

li:nth-child(3) .link:hover {
    color: #333;
}

#aktualnosci, #katalogi {
    margin-top: 25px;
}
.biblioteka, #galeria, #wsparcie {
    background-color: #fff;
    padding: 25px;
}

#wsparcie {
    margin: 25px 0;
}

#wsparcie h3, #galeria h3 {
    margin: 0 0 20px 0;
}

#galeria h3 {
    display: inline-block;
    font-weight: bold;
}

#wsparcie h3 {
    text-align: center;
}

#wsparcie img {
    max-height: 54px;
    margin: 20px auto;
}

.biblioteka {
    min-height: 352px;
}

.biblioteka img {
    padding-right: 25px;
    max-height: 302px;
}

.biblioteka .link {
    color: #333;
}

.biblioteka .link:hover {
    color: #F17E01;
}

h3 {
    font-size: 16px;
}

h3 a {
    color: #333;
}

.post .text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.post .text p {
    margin-bottom: 5px;
    line-height: 23px;
}

.post img {
    width: 100%;
}

.post h3 {
    margin-top: 0;
}

#aktualnosci, #ksiazki {
    margin-left: 15px;
    margin-right: 15px;
}

#aktualnosci li, #ksiazki li {
    padding: 0;
}

.all {
    margin: 0;
    float: right;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

@media (max-width:767px) {
    .all {
        margin-bottom: 30px;
    }
}

.pagination {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -16px;
    top: -8px;

    display: none;
}

.pagination > li {
    display: inline-block;
}

.pagination > li > a, .pagination > li > span {
    color: #fff;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #333;
    border-color: #333;
}

.pagination > li > a, .pagination > li > span {
    background-color: #676767;
    border-color: #676767;
}

@media (max-width:767px) {
    .pagination {
        display: none;
    }
}

.post > div:first-child {
    max-height: 200px;

    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.post > div:first-child:hover {
    max-height: 366px;
}

.date {
    text-align: center;
    margin-top: 6px;
}

.date2 {
    text-align: center;
    display: block;
    padding-top: 5px;
}

.instance {
    background: #fff;
    padding: 20px 25px 25px;
}

.instance h2 {
    margin: 20px 0 0 0;
}

.instance .row p {
    padding: 0 25px 0 25px;
    text-align: justify;
}

.instance img:first-child {
    max-height: 300px;
}
.content-img {
    display: table;
    margin: auto;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #fff;
    color: #F17E01;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #333;
}

.navbar-inverse .navbar-toggle .icon-bar:hover {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #333;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.thumbnail {
    display: inline-block;
}

.tag {
    display: inline-block;
    margin-bottom: 3px;
    padding: 5px;
    color: #fff;
    background: #333;
}
.list-all {
    margin-top: 60px;
}


.list-all > .row {
    margin-top: 66px;
    margin-bottom: 50px;
}

.list-all > .row > ul > li {
    padding: 0;
}

.list-all .post {
    margin-bottom: 0;
}

.note-video-clip {
    width: 100%;
}

.post .note-video-clip {
    height: 146px;
}

.gallery {
    background: #fff;
    padding: 30px;
}

.gallery .btn {
    margin-top: 10px;
}

.thumbnail {
    margin: 5px;
}

.thumbnail:first-child {
    margin-left: 0;
}

.fb-like {
    text-align: center;
    display: block !important;
}

.fb-comments, .fb-comments > span, .fb-comments iframe {width: 100% !important;}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -220px;
}
.instance, .gallery {
    position: relative;
    top: 126px;
    margin-bottom: 161px;
}
.page-wrap:after {
    content: "";
    display: block;
}
footer, .page-wrap:after {
    min-height: 220px;
}

footer {
    background: #333;
    padding-bottom: 25px;
    color: #ABABAB;
    min-height: 220px;
}

footer a {
    color: #F17E01;
}

footer h3, footer h4 {
    color: #F17E01;
}

footer h4 {
    font-size: 14px;
}

footer .row {
    padding-left: 20px;
}

footer > .container > .row > div img {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
}

footer span {
    margin-left: 25px;
}



@media (max-width:767px){
    .navbar-nav {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media (max-width:767px) {
    .navbar-nav > li > span {
        display: none;
    }
}

.high-contrast .navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
}

.high-contrast .navbar-inverse .navbar-nav > li > a:hover,
.high-contrast .navbar-inverse .navbar-nav > li > a:focus {
    text-decoration: underline;
}

.high-contrast #katalogi img {
    filter: saturate(0%) brightness(70%) contrast(1000%);
}

.high-contrast li:nth-child(2) .post {
    background-color: #222;
}

.high-contrast li:nth-child(2) .post {
    background-color: #000;
}

.high-contrast li:nth-child(3) .post {
    background-color: #222;
}

.high-contrast li:nth-child(4) .post {
    background-color: #000;
}

.high-contrast h2::after {
    background-color: #000;
}

.high-contrast footer h3, .high-contrast footer h5 {
    color: #fff;
}

.high-contrast footer {
    color: #eaeaea;
}

.high-contrast footer > .container > .row > div img {
    filter: saturate(0%) brightness(100%) contrast(1000%);
}

.high-contrast footer h3, .high-contrast footer h4, .high-contrast footer h4 a {
    color: #fff;
}

body.high-contrast {
    color: #000;
}

.high-contrast a figcaption {
    color: #000;
}

.high-contrast .link {
    color: #fff;
}

.high-contrast .biblioteka .link {
    color: #000;
}

.high-contrast #katalogi a:hover figure {
    border: 1px solid #000;
}
