{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Biblioteka Publiczna Gminy Linia</title>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div id="nav-top">
        <div class="container">
        <a href="https://www.facebook.com/biblioteka.publiczna.gminy.linia" target="_blank" title="Facebook - Biblioteka Publiczna Gminy Linia">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 266.893 266.895"><path fill="#3C5A99" d="M248.082 262.307c7.854 0 14.223-6.369 14.223-14.225V18.812c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857 0-14.224 6.367-14.224 14.224v229.27c0 7.855 6.366 14.225 14.224 14.225h229.27z"/><path fill="#FFF" d="M182.409 262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261 3.127-18.935 19.275-18.935l20.596-.009V45.045c-3.562-.474-15.788-1.533-30.012-1.533-29.695 0-50.025 18.126-50.025 51.413v28.684h-33.585v38.895h33.585v99.803h40.166z"/></svg>
        </a>
        <a href="https://bip.gminalinia.com.pl/biblioteka-publiczna/" target="_blank" title="Biuletyn Informacji Publicznej - Biblioteka Publiczna Gminy Linia">
            <img src="{% static 'img/bip.png' %}" alt="Biuletyn Informacji Publicznej - Biblioteka Publiczna Gminy Linia">
        </a>
        <div role="button" id="contrast" tabindex="0" title="Ustaw wysoki kontrast">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 180 180" style="enable-background:new 0 0 180 180;height: 40px;" xml:space="preserve">
                <path d="M0,90c0,49.626,40.374,90,90,90s90-40.374,90-90S139.626,0,90,0S0,40.374,0,90z M90,20v140c-38.598,0-70-31.402-70-70
	S51.402,20,90,20z" style="fill: #fff;">
                </path>
            </svg>
        </div>
    </div>

    </div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a title="Biblioteka Publiczna Gminy Linia" class="navbar-brand" href="/"><img src="{% static 'img/logo.jpg' %}" alt="Logo - Biblioteka Publiczna Gminy Linia"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a title="Katalogi Strzepcz i Linia, Molik Strzepcz i Linia" href="#katalogi">Katalogi</a><span>/</span></li>
            <li><a title="Aktualności, projekty, wydarzenia" href="#aktualnosci">Aktualności</a><span>/</span></li>
            <li><a title="Nowe książki w bibliotece" href="#ksiazki">Książki</a><span>/</span></li>
            <li><a title="O bibliotece" href="#o_bibliotece">O nas</a><span>/</span></li>
            {% comment %}<li><a title="Galeria zdjęć" href="#galeria">Galeria</a><span>/</span></li>{% endcomment %}
            <li><a title="Kontakt" href="#kontakt">Kontakt</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<script>
window.onscroll = function() {onScroll()};
function onScroll() {
    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
        document.getElementById("nav-top").className = "test";
    } else {
        document.getElementById("nav-top").className = "";
    }
}

$("#contrast").on('click', function() {
    let body = $("body");
    body.hasClass('high-contrast') ? body.removeClass('high-contrast') : body.addClass('high-contrast')
});
</script>

<div class="page-wrap">
 {% include "messages.html" %}

    {% block content %}
    {% endblock %}
</div>

      <footer id="kontakt">

        <div class="container">

            <div class="row">
                    <div class="col-md-6">
                        <h3>Biblioteka Publiczna Gminy Linia</h3>
                        <img width="25" class="center-block" src="{% static 'img/ikona-adres.png' %}" alt="ikona - adres"/>ul. Szkolna 1<br>
                        <span>84-223 Linia</span><br>
                        <img width="25" class="center-block" src="{% static 'img/ikona-telefon.png' %}" alt="ikona - numer telefonu"/>tel. 58 676 86 19<br>
                        <img width="25" class="center-block" src="{% static 'img/ikona-email.png' %}" alt="ikona - email"/>e-mail: linia@bpgl.pl<br>
                        Czynne od poniedziałku do piątku w godzinach 9:00 - 17:00<br><br>
                        <h4><a href="https://bpgl.pl/polityka-prywatnosci/">Polityka prywatności</a></h4>
                    </div>

                    <div class="col-md-6">
                        <h3>Biblioteka Publiczna Gminy Linia</h3>
                        <h4><img width="25" class="center-block" src="{% static 'img/ikona-filia.png' %}" alt="ikona - filia"/>Filia w Strzepczu</h4>
                        <img width="25" class="center-block" src="{% static 'img/ikona-adres.png' %}" alt="ikona - adres"/>ul. H. Derdowskiego 3<br>
                        <span>84-223 Strzepcz</span><br>
                        <img width="25" class="center-block" src="{% static 'img/ikona-telefon.png' %}" alt="ikona - numer telefonu"/>tel. 58 676 82 58<br>
                        <img width="25" class="center-block" src="{% static 'img/ikona-email.png' %}" alt="ikona - email"/>e-mail: strzepcz@bpgl.pl<br>
                        Czynne od poniedziałku do piątku w godzinach 9:00 - 17:00<br>
                    </div>
            </div>
        </div>

        <div id="cookies" style="position: fixed;bottom: 0;background: #333;display: none;padding: 15px; align-items: center;color: #fff; width:100%; font-size: 16px">
          <p style="margin: 0;">Serwis bpgl.pl wykorzystuje pliki cookies. Korzystając z naszej strony zgadzasz się z naszą <a style="color: #F17E01" href="https://bpgl.pl/polityka-prywatnosci/">polityką prywatności</a></p>
          <!--<div id="cookies-close" style="margin-left: 20px; text-align: right; flex-grow: 1; cursor: pointer; font-weight: 400">Zamknij</div>-->
        </div>

      </footer>

    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script>
      !function ($) {
        $(function(){
          $('#carousel-example-generic').carousel()
        })
      }(window.jQuery)

      doOnce();
      function doOnce() {
          if (document.cookie.replace(/(?:(?:^|.*;\s*)jacookie\s*\=\s*([^;]*).*$)|^.*$/, "$1") !== "true") {
              document.getElementById("cookies").style.display = "flex";
              document.cookie = "jacookie=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
          }
      }
    </script>
  </body>
</html>
