{% extends 'base.html' %}

{% block content %}

    <div class="container">


          <div class="row">

          <h2>Nowości książkowe</h2>
<ul>
              {% for post in list %}
                      <li class="col-md-3">
                      <div class="post">

                          {% load thumbnail %}
                          {% thumbnail post.image 400x400 upscale as thumb %}
                            {% if post.image %}
                                <img src='{{ thumb.url }}' class='img-responsive' style="max-height: 200px; width: 100%" />
                                <div class="date">{{ post.category }} | {{ post.published }}</div>
                            {% endif %}

                        <div class="text">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            {% if post.image %}
                                <p style="text-align: justify">{{ post.text|safe|linebreaksbr|truncatechars:120 }}</p>
                            {% else %}
                                <p style="text-align: justify">{{ post.text|safe|truncatechars:420 }}</p>
                            {% endif %}

                            <p><a class="btn btn-secondary" href="{{ post.get_absolute_url }}" role="button">Zobacz więcej &raquo;</a></p>
                      </div>
                      </div>
                      </li>
            {% endfor %}
</ul>
            </div><!--/span-->

</div>
{% endblock content %}