{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}


    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="container instance">
        <div class="row">
            <div class="col-md-12 ">
                {% load thumbnail %}
                    {% if instance.image %}
                        {% thumbnail instance.image 1140x500 upscale as thumb %}
                        <a href="{{ thumb.url }}" title="{{ instance.title }}" class="content-img" data-lightbox="content-img"><img src="{{ thumb.url }}"></a>
                {% endif %}
            <div class="row">
                <h2>{{ instance.title }}</h2>



                <div class="date2">{% if instance.category.slug != 'o-bibliotece' %}{{ instance.category }} | {{ instance.published }}{% else %} Zaktualizowano: {{ instance.updated }}{% endif %}</div>




                <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-9">
                <p>{{ instance.text|safe }}</p>

                <div id="fb-root"></div>

                <!-- Your embedded comments code -->
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
            </div>



        <div class="col-md-3">
        {% if instance.category.slug == 'ksiazki' %}
            <script>
                $("#navbar").find("ul li:nth-child(3)").addClass("active");
            </script>
            <h3>Więcej książek:</h3>
        {% else %}
            <h3>Inne wpisy:</h3>
        {% endif %}
        <div class="tags">
            {% for tag in instance.tag.all %}
                {% if instance.category.slug == 'ksiazki' %}
                    <a href="/wpisy/?tag={{tag.slug}}&kategoria=ksiazki" class="tag">{{tag}}</a>
                {% else %}
                    <a href="/wpisy/?tag={{tag.slug}}" class="tag">{{tag}}</a>
                {% endif %}
                {% if not forloop.last %} {% else %} {% endif %}
            {% endfor %}
        </div>

            {% if instance.category.slug == 'o-bibliotece' %}
                <script>
                    $("#navbar").find("ul li:nth-child(4)").addClass("active");
                </script>
                {% if instance.slug != 'o-bibliotece' %}<a href="/o-bibliotece"><h3>Historia biblioteki &raquo;</h3></a>{% endif %}
                {% if instance.slug != 'aleksander-majkowski' %}<a href="/aleksander-majkowski"><h3>Kim był Aleksander Majkowski? &raquo;</h3></a>{% endif %}
                {% if instance.slug != 'cennik' %}<a href="/cennik"><h3>Sprawdź cennik naszych usług &raquo;</h3></a>{% endif %}
                {% if instance.slug != 'regulaminy' %}<a href="/regulaminy"><h3>Zobacz nasze regulaminy &raquo;</h3></a>{% endif %}
            {% endif %}

            <a href="/wpisy/?kategoria=aktualnosci" title=""><h3>Zobacz inne wpisy &raquo;</h3></a>
            <a href="/wpisy/?kategoria=ksiazki"><h3>Zobacz nowości książkowe &raquo;</h3></a>

        </div>



        </div>
        </div>
        </div>

            <!--
            <script>
                $(document).ready(function(){
                    console.log($(".tag").text());
                   if ($(".tag").text() == "dla dzieci") {
                     $(".tag").css('color', 'red');
                   }
                 });
            </script>
            -->

    <script src="{% static 'js/menu.js' %}"></script>

{% endblock %}