{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <script>

    // Add scrollspy to <body>
$('body').scrollspy({target: ".navbar", offset: 80});

// Add smooth scrolling on all links inside the navbar
$("#navbar a").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top - 70
    }, 800, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
      //window.location.hash = hash;
    });

  } // End if

});

    </script>

    <header>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'img/s1.jpg' %}" alt="...">
          <div class="carousel-caption">
             <!--  <h3>Heading</h3>  -->
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/s1.jpg' %}" alt="...">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/s1.jpg' %}" alt="...">
          <div class="carousel-caption">

          </div>
        </div>
      </div>
    </div>

    <!--<div class="buttons">
        <div class="row">
            <div class="col-sm-4"><a href="#" class="przycisk"><img width="80" src="{% static 'img/aktualnosci.png' %}"/><div>Aktualności</div></a></div>
            <div class="col-sm-4"><a href="#" class="przycisk"><img width="80" src="{% static 'img/nowosci.png' %}"/><div>Nowości książkowe</div></a></div>
            <div class="col-sm-4"><a href="#" class="przycisk"><img width="80" src="{% static 'img/katalogi.png' %}"/><div>Katalogi</div></a></div>
        </div>
    <div class="row">
        Godziny otwarcia: pon. - pt, 9:00 - 17:00<br>
        Kontakt: strzepcz@bpgl.pl, linia@bpgl.pl
    </div>
    </div> -->
</header>
    <div class="container">

    <!--<form method='GET' action=''>

         <select value='s' name="q">

             <option value=''>wszystkie</option>
             <option value='kategoria'>kategoria</option>
             <option value='inna'>inna</option>

         </select>
-->
       <!-- <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/> -->
    <!--    <input type='submit' value='Search' />
    </form> -->


    <section id="aktualnosci">
          <div class="row">

          <h2>Aktualności</h2>

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->





<ul class="list">
              {% for post in posts %}

                      <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="post">
                          {% load thumbnail %}
                          {% thumbnail post.image 720x720 upscale as thumb %}

                            {% if post.image %}
                                <div style="width: 100%; max-height: 200px; overflow-y: hidden;">
                                <img src='{{ thumb.url }}' class='' style="width: 100%" /></div>
                                <div class="date">{{ post.category }} {% for tag in post.tags.all %}
        {% endfor %}| {{ post.published|date:"d.m.Y"|lower }}</div>
                            {% else %}
                                <div class="date2">{{ post.category }} {% for tag in post.tags.all %}
        {% endfor %}| {{ post.published|date:"d.m.Y"|lower }}</div>
                            {% endif %}


                        <div class="text">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            {% if post.image %}
                                <p style="text-align: justify">{{ post.text|safe|truncatechars:120 }}</p>
                            {% else %}
                                <hr>
                                <p style="text-align: justify">{{ post.text|safe|truncatechars:320 }}</p>
                            {% endif %}

                            <p><a class="btn" href="{{ post.get_absolute_url }}" role="button">Zobacz więcej &raquo;</a></p>
                      </div>
                      </div>

                      </li>
            {% endfor %}
</ul>
          <ul class="pagination"></ul>
<script src="http://listjs.com/assets/javascripts/list.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"></script>
<script>
    var monkeyList = new List('aktualnosci', {
  valueNames: ['post'],
  page: 4,
  plugins: [ ListPagination({}) ]
});

</script>

            </div><!--/span-->

    </section>

    <section id="ksiazki">
    <div class="row">

          <h2>Nowości książkowe</h2>

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->

<ul>
              {% for post in books %}
                      <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                      <div class="post">

                          {% load thumbnail %}
                          {% thumbnail post.image 720x720 upscale as thumb %}
                            {% if post.image %}
                                <div style="width: 100%; max-height: 200px; overflow-y: hidden;">
                                <img src='{{ thumb.url }}' class='' style="width: 100%" /></div>
                                <div class="date">{{ post.category }} | {{ post.published|date:"d M. Y"|lower }}</div>
                            {% else %}
                                <div style="width: 100%; max-height: 200px; overflow-y: hidden;">
                                <img src='{% static 'img/biblioteka_narodowa.jpg' %}' class='' style="width: 100%" /></div>
                                <div class="date2">{{ post.category }} | {{ post.published|date:"d M. Y"|lower }}</div>
                            {% endif %}


                        <div class="text">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            {% if post.image %}
                                <p style="text-align: justify">{{ post.text|safe|truncatechars:120 }}</p>
                            {% else %}

                                <p style="text-align: justify">{{ post.text|safe|truncatechars:320 }}</p>
                            {% endif %}

                            <p><a class="btn" href="{{ post.get_absolute_url }}" role="button">Zobacz więcej &raquo;</a></p>
                      </div>
                      </div>
                      </li>
            {% endfor %}

</ul>


            </div><!--/span-->

</section>

    <section id="o_bibliotece">
    <div class="row">

          <h2>O bibliotece</h2>

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->

              {% for post in library %}
                      <div class="col-lg-12">
                      <div class="biblioteka">

                          {% load thumbnail %}
                          {% thumbnail post.image 500x500 upscale as thumb %}
                                <div class="pull-left" style="overflow-y: hidden;">
                                <img src='{{ thumb.url }}' class='' style="width: 100%" /></div>


                        <div class="text">
                            {% if post.image %}
                                <p style="text-align: justify">{{ post.text|safe|truncatechars:820 }}</p>
                            {% else %}
                                <hr>
                                <p style="text-align: justify">{{ post.text|safe }}</p>
                            {% endif %}

                            <p><a class="btn" href="{{ post.get_absolute_url }}" role="button">Dowiedz się więcej o nas! &raquo;</a></p>
                      </div>
                      </div>
                      </div>
            {% endfor %}




            </div><!--/span-->

    </section>

    <section id="galeria">
        <h3>Zobacz naszą galerię</h3>
    <div class="row">

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->

        <div class="col-md-4">
            <img class="img-responsive" src="media/6/wiedzmin.png.720x720_q85_upscale.jpg" />
        </div>
<div class="col-md-4">
             <img class="img-responsive" src="media/6/wiedzmin.png.720x720_q85_upscale.jpg" />
        </div>
        <div class="col-md-4">
             <img class="img-responsive" src="media/6/wiedzmin.png.720x720_q85_upscale.jpg" />
        </div>



    </div><!--/span-->

    </section>

    <section id="wsparcie">
        <h3>Działalność biblioteki wspierana jest przez:</h3>
    <div class="row">

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->

        <div class="col-md-6">
            <img class="center-block" src="{% static 'img/biblioteka_narodowa.jpg' %}" />
        </div>
        <div class="col-md-6">
             <img class="center-block" src="{% static 'img/program_rozwoju_czytelnictwa.jpg' %}" />
        </div>



    </div><!--/span-->

    </section>

</div>



{% endblock content %}


