{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <script>

    $( document ).ready(function() {
    console.log( "ready!" );


    // Add scrollspy to <body>
$('body').scrollspy({target: ".navbar", offset: 80});

// Add smooth scrolling on all links inside the navbar
$("#navbar a").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top - 70
    }, 800, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
      //window.location.hash = hash;
    });

  } // End if


});

});

    </script>

    <header>
<div id="carousel-example-generic" class="carousel slide visible-lg visible-md" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'img/tydzien_biblioteki.jpg' %}" alt="Tydzień biblioteki">
          <div class="carousel-caption">
             <!--  <h3>Heading</h3>  -->
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/ogrod.jpg' %}" alt="ogród">
          <div class="carousel-caption">
             <!--  <h3>Heading</h3>  -->
          </div>
        </div>
        {% comment %}<div class="item">
          <img src="{% static 'img/s1.jpg' %}" alt="biblioteka">
          <div class="carousel-caption">
             <!--  <h3>Heading</h3>  -->
          </div>
        </div>{% endcomment %}
      </div>
    </div>

</header>
    <div class="container">

    <!--<form method='GET' action=''>

         <select value='s' name="q">

             <option value=''>wszystkie</option>
             <option value='kategoria'>kategoria</option>
             <option value='inna'>inna</option>

         </select>
-->
       <!-- <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/> -->
    <!--    <input type='submit' value='Search' />
    </form> -->

    <section id="katalogi">
          <div class="row">

          <h2>Katalogi</h2>

              <div class="col-md-3 col-sm-6">
                  <a href="http://83.14.59.198:81/cgi-bin/LibraOpac.dll" target="_blank" title="Katalog Libra - Linia">
                      <figure>
                          <img src="{% static 'img/katalog_linia.png' %}" alt="Katalog Libra - Linia">
                          <figcaption>Katalog Linia</figcaption>
                      </figure>
                  </a>
              </div>
              <div class="col-md-3 col-sm-6">
                  <a href="http://83.14.59.198:81/sf/anims" target="_blank" title="Molik - katalog dla dzieci - Linia">
                      <figure>
                          <img src="{% static 'img/molik_linia.png' %}" alt="Molik - katalog dla dzieci - Linia">
                          <figcaption>Molik Linia</figcaption>
                      </figure>
                  </a>
              </div>
              <div class="col-md-3 col-sm-6">
                  <a href="http://83.14.252.230:81/LibraOpac.dll" target="_blank" title="Katalog Libra - Strzepcz">
                      <figure>
                          <img src="{% static 'img/katalog_strzepcz.png' %}" alt="Katalog Libra - Strzepcz">
                          <figcaption>Katalog Strzepcz</figcaption>
                      </figure>
                  </a>
              </div>
              <div class="col-md-3 col-sm-6">
                  <a href="http://83.14.252.230:82/sf/anims" target="_blank" title="Molik - katalog dla dzieci - Strzepcz">
                      <figure>
                          <img src="{% static 'img/molik_strzepcz.png' %}" alt="Molik - katalog dla dzieci - Strzepcz">
                          <figcaption>Molik Strzepcz</figcaption>
                      </figure>
                  </a>
              </div>

          </div><!--/span-->

    </section>

    <section id="aktualnosci">
          <div class="row">

          <h2>Aktualności</h2>

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->


<ul class="list">

{% for image in slider %}
    asdasd
{% endfor %}

              {% for post in posts %}

                      <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <div class="post">
                          {% load thumbnail %}
                          {% thumbnail post.image 360x360 upscale as thumb %}

                            {% if post.image %}
                                <div style="width: 100%; overflow-y: hidden;">
                                <img src='{{ thumb.url }}' alt="Obraz dla aktualności" class='' style="width: 100%" />
                                </div>
                                <p class="date">{{ post.category }} | {{ post.published|date:"d.m.Y"|lower }}</p>
                            {% else %}
                                <div style="width: 100%; overflow-y: hidden; text-align: center">
                                    {% if post.category.slug == 'aktualnosci' %}
                                        <img src='{% static 'img/aktualnosci.png' %}' alt="Ikona - aktualności" class='' style="height: 200px; padding: 15px" />
                                    {% elif post.category.slug == 'projekty' %}
                                        <img src='{% static 'img/projekty.png' %}' alt="Ikona - projekty" class='' style="height: 200px; padding: 15px" />
                                    {% elif post.category.slug == 'komunikaty' %}
                                        <img src='{% static 'img/komunikaty.png' %}' alt="Ikona - komunikaty" class='' style="height: 200px; padding: 15px" />
                                    {% endif %}
                                </div>
                                <p class="date">{{ post.category }} | {{ post.published|date:"d.m.Y"|lower }}</p>
                            {% endif %}


                      <div class="text">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            {% if post.image %}
                                <p>{{ post.text|safe|truncatechars:95 }}</p>
                            {% else %}
                                <p>{{ post.text|safe|truncatechars:95 }}</p>
                            {% endif %}

                            <p><a class="link" href="{{ post.get_absolute_url }}" role="button">Zobacz więcej &raquo;</a></p>
                      </div>
                      </div>

                      </li>
            {% endfor %}
</ul>
              <a href="/wpisy/?kategoria=aktualnosci" title="Zobacz wszystkie aktualności, projekty, wydarzenia"><h3 class="all">Zobacz wszystkie &rarr;</h3></a>
          <ul class="pagination"></ul>


            </div><!--/span-->

    </section>

    <section id="ksiazki">
    <div class="row">

          <h2>Nowości książkowe</h2>

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->

<ul class="list">
              {% for post in books %}
                      <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <div class="post">

                          {% load thumbnail %}
                          {% thumbnail post.image 360x360 upscale as thumb %}
                            {% if post.image %}
                                <div style="width: 100%; overflow-y: hidden;">
                                <img src='{{ thumb.url }}' alt="Okładka książki" class='' style="width: 100%" /></div>
                                <p class="date">{{ post.category }} | {{ post.published|date:"d.m.Y"|lower }}</p>
                            {% else %}
                                <div style="width: 100%; overflow-y: hidden;">
                                <img src='{% static 'img/aktualnosci.png' %}' alt="Okładka książki" class='' style="width: 100%" /></div>
                                <div class="date2">{{ post.category }} | {{ post.published|date:"d.m.Y"|lower }}</div>
                            {% endif %}

                        <div class="text">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            {% if post.image %}
                                <p style="text-align: justify">{{ post.text|safe|truncatechars:100 }}</p>
                            {% else %}

                                <p style="text-align: justify">{{ post.text|safe|truncatechars:320 }}</p>
                            {% endif %}

                            <p><a class="link" href="{{ post.get_absolute_url }}" role="button">Zobacz więcej &raquo;</a></p>
                      </div>
                      </div>
                      </li>
            {% endfor %}

</ul>
    <a href="/wpisy/?kategoria=ksiazki" title="Zobacz wszystkie nowości książki"><h3 class="all">Zobacz wszystkie &rarr;</h3></a>
          <ul class="pagination"></ul>
<script src="http://listjs.com/assets/javascripts/list.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"></script>
<script>
    var newsList = new List('aktualnosci', {
  valueNames: ['post'],
  page: 4,
  plugins: [ ListPagination({}) ]
});
  var booksList = new List('ksiazki', {
  valueNames: ['post'],
  page: 4,
  plugins: [ ListPagination({}) ]
});

</script>

            </div><!--/span-->

</section>

    <section id="o_bibliotece">
    <div class="row">

          <h2>O bibliotece</h2>

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->

              {% for post in library %}
                {% if post.slug == "o-bibliotece" %}
                      <div class="col-lg-12">
                      <div class="biblioteka">

                          {% load thumbnail %}
                          {% thumbnail post.image 500x500 upscale as thumb %}
                                <div class="pull-left" style="overflow-y: hidden;">
                                    <a href="{{ thumb.url }}" data-lightbox="o-bibliotece"><img src='{{ thumb.url }}' alt="biblioteka" class='' style="width: 100%" /></a></div>


                        <div class="text">
                            {% if post.image %}
                                <p style="text-align: justify">{{ post.text|safe|truncatechars:520 }}</p>
                            {% else %}
                                <hr>
                                <p style="text-align: justify">{{ post.text|safe }}</p>
                            {% endif %}

                            <p><a class="link" href="{{ post.get_absolute_url }}" role="button">Dowiedz się więcej o nas! &raquo;</a></p>
                            <p><a class="link" href="/aleksander-majkowski" role="button">Kim był Aleksander Majkowski? &raquo;</a></p>
                            <p><a class="link" href="/cennik" role="button">Sprawdź cennik naszych usług &raquo;</a></p>
                            <p><a class="link" href="/regulaminy" role="button">Zobacz nasze regulaminy &raquo;</a></p>
                      </div>
                      </div>
                      </div>
            {% endif %}
            {% endfor %}




            </div><!--/span-->

    </section>

    <section id="galeria">
        <a href="galeria" title="Galeria zdjęć"><h3>Odwiedź naszą galerię zdjęć &raquo;</h3></a>
    <div class="row">

              <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="float: right; height: 430px; background: red;">ghjgh</div> -->

        <div class="col-md-4">
            <img class="img-responsive" alt="Zdjęcie z galerii" src="media/photologue/photos/dsc_0466.jpg" />
        </div>
        <div class="col-md-4">
            <img class="img-responsive" alt="Zdjęcie z galerii" src="media/photologue/photos/_dsc5643.jpg" />
        </div>
        <div class="col-md-4">
             <img class="img-responsive" alt="Zdjęcie z galerii" src="media/photologue/photos/dsc_0453.jpg" />
        </div>



    </div><!--/span-->

    </section>

    <section id="wsparcie">
        <h3>Działalność biblioteki wspierana jest przez:</h3>
    <div class="row">

        <div class="col-md-3">
            <img class="center-block" src="{% static 'img/biblioteka_narodowa.jpg' %}" alt="Biblioteka Narodowa" />
        </div>
        <div class="col-md-3">
             <img class="center-block" src="{% static 'img/program_rozwoju_czytelnictwa.jpg' %}" alt="Program Rozwoju Czytelnictwa" />
        </div>
        <div class="col-md-3">
             <img class="center-block" src="{% static 'img/fundacja_orange.jpg' %}" alt="Fundacja Orange"/>
        </div>
        <div class="col-md-3">
             <a href="https://www.pitax.pl" title="PITax.pl - łatwe podatki" target="_blank"><img class="center-block" src="{% static 'img/pitax.jpg' %}" alt="PITax.pl - łatwe podatki"/></a>
        </div>

    </div><!--/span-->

    </section>

</div>



{% endblock content %}



